
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px solid red
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #FFF;
    background: lightsalmon;
    font-weight: normal;
    align-items: center;
    justify-content: space-between;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: lightpink;
    font-size: 12px;
}

td img{
    widows: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display:flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid lightpink;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


@media only screen and (max-width:600px){

    .cart-info p{
        display:none;
    }
}