
<!-------- CONTACTS FOOTER --------->

<header class="part-contacts">
    <div class="footer-nibbi">

        <div class="footer-contacts nibbi">
            <h1>&Ntilde;IBBI</h1>
            <br><br>
            <p>Nibbi is a French Brand based on Strasbourg, which provdides fashion wax clothes and accessories</p>
            <br><br>
            <div class="contact">
                <span><i class="fa fa-phone"></i> &nbsp; +33 7 81 27 12 18</span>
                <span><i class="fa fa-enveloppe"></i> &nbsp;</span>
            </div>
            <div>
                <h3 type="email "id="divcontact-mail"></h3>
            </div>                
        </div>

        <div class="footer-contacts socialnetwork">
            <div>
                <h3>Nous suivre sur les réseaux sociaux</h3>
                <br></br>
            </div>
            
            <div>
                <a href=""><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.facebook.com/ÑIBBI-753166084860377"></a>
                <h4>Notre Facebook</h4>
            </div>
            <div>
                <a href=""><i class="fa fa-instagram-square"></i></a>
                <a href="https://www.instagram.com"></a>
                <h4>Notre instagram</h4>
            </div>
            <div>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href="https://www.twitter.com"></a>
                <h4>Notre Twtter</h4>
            </div>

        </div>

        <div class="footer-contacts contactme">
           
                <h2>Contacts & Infos</h2>
                
                <button onclick="open_contactform()" class="contact-button">Contactez-Nous</button>
                <div id= "modal_contact" class="modal-contact">
                    <div class="modal-content">
                        <span><button id="close" class="close">&times;</button></span>                        
                        
                            <h6>Nom</h6>
                            <input type="Nom" placeholder="Entrer votre nom">
                            <h6>Prenom</h6>
                            <input type="Prenom" placeholder="Entrer votre prenom">
                        
                            <h6>Email</h6>
                            <input type="email" name="adresse mail" id="contact-mail" placeholder="Entrer votre mail">
                            
                                                  
                            <h6>Votre Message</h6>
                            <textarea name="message" id="contact-message" class="message-box" placeholder="Nous ecoutons votre message">
                            </textarea>
                                                    
                            <button class="send-button" onclick="send_contactmessage()">Envoyer</button>
                            <h4 id="send-contactmessage"></h4>
                    </div>
                 </div>

                 <div>
                    <h4>Professionnal Conatcts</h4>
                </div>

            </div>
           
            
    

        </div>
    
    </div>

    <footer class="footer-copyright">
        <p>Talla TOURE properties. All rights Rserved. Contact: tallatoure.pro@gmail.com</p>
    </footer>
</header>

<!-------------- END OF FOOTER CONTACT --------------->