
{% extends 'store/main.html' %}
{% load static %}



{% block content %}


<h2>Products Parts</h2> 


<div class="small-container">
    <div class= "row">


{% for product in products_list %}

    <!-----

    <h3>{{product.title}}</h3>
    <h3>{{product.price}}</h3>
    <h3>{{product.img}}</h3>
        ---->
                <div class="col-4">
                    <a href="{% url 'article' slug='article-1' %}">
                        <img src="{{product.imageURL}}"alt="product" class="product-image">
                        <h4>{{product.title}}</h4>
                        <h3>{{product.slug}}</h3>
                        
                    </a>
                    <p>{{product.price |floatformat:2}}€</p>
                </div> 
                <!--
                <button type="button" class="basket-btn update-cart shopping-cart-button float-right" data-product= "{{product.id}}" data-action="add" data-id="1" data-toggle="shopping-cart-dropdown">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="text">Panier</span>
                </button>    ---->  
                <!---- <div class="basket-btn update-cart" data-product= "{{product.id}}" data-action="add" data-id="1">Django Basket</div> ---->
        
        

{% endfor%}

</div>
</div>


{% endblock content %}